<header>
    <img src="assets/img/felipe.jpg" alt="Felipe Mendes" width="130px" height="130px" loading="eager">
    <h1>Felipe Mendes</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolver Web | React | NodeJs | Java</p>
        <p>Januária, Minas Gerais, Brasil</p>
        <p>
            Sou formado em Bacharelado em Sistemas de Informação pelo IFNMG - Campus Januária.
            Atualmente estou em busca de oportunidades de trabalho Backend / Frontend.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/Felipe Mendes - Curriculo.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/felipe-mendesn/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Icone contato whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="https://wa.me/5538997510842" target="_blank"></a>
                    <strong class="color-title">Envie uma mensagem para:</strong>
                    <p>Whatsapp: (38) 99751-0842</p>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Icone contato whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="mailto:felipemen74@gmail.com" target="_blank"></a>
                    <strong class="color-title">Envie um e-mail para:</strong>
                    <p>felipemen74&#64;gmail.com</p>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
